.pacifico{
  font-family: 'Pacifico';
}

.name-apprenants{
  font-size:22px;
}

.fa-lg {
    font-size: 2em !important;
    line-height: .75em;
    vertical-align: -15%;
}

.logo-github{
    height: 25px;
    width:auto;
}

.flip-card-apprenants {
    background-color: transparent;
    width:200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner-apprenants {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-apprenants:hover .flip-card-inner-apprenants {
    transform: rotateY(180deg);
  }
  
  .flip-card-front-apprenants, .flip-card-back-apprenants {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front-apprenants {
    /* background-image:url(../media/three_js.jpg); */
    background-size:cover;
    color: black;
  }

  .flip-card-back-apprenants {
   
    color: black;
    transform: rotateY(180deg);
  }

  .flip-card-back-apprenants a{
      color:black;
  }

/* responsive */

@media (max-width: 575.98px) { 
  .flip-card-apprenants{
    width: auto;
    height: 200px;
  }
    
  .avatar{
    width:140px;
    height: auto;
  }
  }

@media (min-width: 576px) and (max-width: 767.98px) { 
.flip-card-apprenants{
  width: 126px;
  height: 126px;
}

.avatar{
  width:90px;
  height: auto;
}
  
}
