
@import url('https://fonts.googleapis.com/css?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
header{
    min-height:65vh;
      background-image: url(../assets/header-blog.jpg); 
      background-size: cover;
      background-position: center;
}
.titre_header{
font-size: 8.5rem;
padding-top: 100px;
}
/* end header  */


.logo{
background-image: url(../assets/logo.png);
background-repeat: no-repeat;
height: 20vh;
background-position-x: center;

}
/* start page article */
.lastarticles{
  padding-right: 0;
  padding-left: 0;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  h2{
    padding-top: 80px;
    font-family: 'Candal';
    font-size: 3rem;
    color:rgba(134, 114, 114, 0.87) !important;
  }
  
  .flip-card-front {
    /* background-image:url(../media/three_js.jpg); */
    background-size:cover;
    color: black;
  }

  .a_nav {

  padding: 106px;
  color: #ca9b52;
  font-family: 'Satisfy' !important;
  font-size: 1.2rem;
}
.a_nav:hover{
  color: #8f8f8f;
}

  .flip-card-back {
   
    color: black;
    transform: rotateY(180deg);
  }
  .first-letter{
 font-size: 30px;
 font-weight: bold;
  }

.text-hover {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* end partie projets */