/* start header  */
header{
    min-height: 50vh;
}
/* end header  */

/* start partie article */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
   
    color: black;
    transform: rotateY(180deg);
  }
/* end partie article */

/* start partie projets */
.div-hover-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.left-projet{
  height: 400px;
  background-color: red;
}
.left-projet:hover .image {
  opacity: 0.3;
}
.left-projet:hover .div-hover-text {
  opacity: 1;
}

.right-up{
  height: 200px;
  background-color: green;
}
.right-up:hover .image {
  opacity: 0.3;
}
.right-up:hover .div-hover-text {
  opacity: 1;
}

.right-down{
  height: 200px;
  background-color: purple;
}
.right-down:hover .image {
  opacity: 0.3;
}
.right-down:hover .div-hover-text {
  opacity: 1;
}

.text-hover {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* end partie projets */