@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.raleway{
  font-family: 'Raleway';
}

.montserrat{
  font-family: 'Montserrat';
}

.container-header-reseaux{
  width:90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.color-rose{
  color: #F2B999 !important;
}
.min-h-20vh {
  min-height: 20vh;
}
.pt-80-px{
  padding-top: 80px;
}
.tite_aticle{
  font-family: 'Indie Flower';
  font-size: 3rem;
  color: rgba(134, 114, 114, 0.87) !important;
}



.min-h-20vh {
  min-height: 20vh;
}

.social {
  list-style: none;
  color: #fff;
  display: flex;
  /* padding-right: 20px;
  padding-top: 20px; */
}



.navbar-container{
  width:90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-header-reseaux-height{
  height: 550px;
}

.container-header-bg{
  background-image: url(../assets/header-img.jpg);
  background-position-y: bottom;
  background-position-x: center;
}

.titre_header {
  font-size: 8.5rem;
  font-family: 'Pacifico';
  color:#fec325;
  text-shadow: 2px 2px #ffffff;

}

/* end header  */

/* start menu */
button:focus{
  outline: none;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

#menu-menu-principal{
  list-style-type: none;
  padding-left:0;
  display: flex;
  justify-content:space-between;
}
.navbar-light .navbar-nav .nav-link {
  text-decoration:none;
  text-align: center;
  color: #000000;
  font-size: 1.2rem;
}


.navbar-light .navbar-nav .nav-link:hover{
  color: #f29f05;
}

.navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #f29f05;
}
/* end menu */

.logo {
  width: 130px;
  height:auto;
}

/* start partie présentation */

.img-promo{
  width:80%;
}

/* end partie présentation */

/* start page article */
.lastarticles {
  padding-right: 0;
  padding-left: 0;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-image:url(../media/three_js.jpg); */
  background-size: cover;
  color: black;
}

.flip-card-back {

  color: black;
  transform: rotateY(180deg);
}

.first-letter {
  font-size: 30px;
  font-weight: bold;
}

/* end partie article */

/* start partie projets */
.div-hover-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.left-projet{
  height: 633px;
 background-image: url(../assets/burger-blog.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.left-projet:hover .image {
  opacity: 0.3;
}

.left-projet:hover .div-hover-text {
  opacity: 1;
}

/* start description projets */

.description{
  background-color: #1c3144;
}

.lettrine::first-letter{
  font-size: 3.5rem;
  float: left;
  padding-right: 6px;
  line-height: 45px;
  color: #fec325;
}

/* end description projets */


/***************section projets*********************/
.titre_projet {
  font-size: 3.5rem;
  font-family: 'Pacifico';
  color:#fec325;
  text-shadow: 3px 3px #c04e0f;
}

.section-projet{
  background-color: #fff;
}

.right-up {
  height: 300px;
  background-image: url(../assets/automotive-blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 33px;
}

.right-up:hover .image {
  opacity: 0.3;
}

.right-up:hover .div-hover-text {
  opacity: 1;
}

.right-down {
  height: 300px;
  background-image: url(../assets/cine-blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-down:hover .image {
  opacity: 0.3;
}

.right-down:hover .div-hover-text {
  opacity: 1;
}

.text-hover {
  font-size: 3rem;
  padding: 16px 32px;
  font-family: 'Indie Flower' ;
  color:rgba(134, 114, 114, 0.87) !important;
}

/***********footer************/
.bg-nude{
  /* min-height: 20vh; */
  background-color:#F2B999;
}
.text-contact{
  font-family: 'Pacifico';
  color:#fff;
}
.bg-footer{
 background-color: #f0eae01a; 
} 
.title-footer{
color:  #8f8f8f;
font-family: 'Indie Flower' !important;
font-size: 1rem;
}

.bordeur-top-footer{
  border-top: 1px solid #F2B999;
}

.logo-footer-size{
  width:70%;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) 
{ 
  .container-header-reseaux{
    width:100%;
  }
  .left-projet{
    height: 300px;
    margin-bottom: 33px;
    background-image: url(../assets/burger-blog.jpg);
    background-repeat: no-repeat;
   }
   .div-hover-text {
    opacity: 1; 
  }
  .text-hover {
    font-size: 2rem; 
}
.container-header-bg{
  background-image: url(../assets/header-img.jpg);
  background-position-x: center;
  background-size: cover;
}

.titre_header {
  font-size: 2rem;
}
.container-header-reseaux-height{
  height: 40vh;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{
  .container-header-reseaux{
    width:98%;
  }
  .left-projet{
    height: 300px;
    margin-bottom: 33px;
    background-image: url(../assets/burger-blog.jpg);
    background-repeat: no-repeat;
  }
  .div-hover-text {
  
    opacity: 1; 
  }
  .container-header-bg{
    background-image: url(../assets/header-img.jpg);
    background-position-y: bottom;
    background-position-x: center;
  }
  .titre_header {
    font-size: 2.5rem;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)
{
  .container-header-reseaux{
    width:98%;
  }
  .left-projet{
  height: 300px;
  margin-bottom: 33px;
  background-image: url(../assets/burger-blog.jpg);
  background-repeat: no-repeat;
 }
 .div-hover-text {
  
  opacity: 1; 
}
.container-header-bg{
  background-image: url(../assets/header-img.jpg);
  background-position-y: bottom;
  background-position-x: center;
}
.titre_header {
  font-size: 4.5rem;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px)
{
  .container-header-reseaux{
    width:98%;
  }
  .titre_header {
    font-size: 5.5rem;
  }
}

/* MEDIAS QUERIES UNIQUEMENT POUR LE CONTAINER HEADER ET RESEAUX 1200 - 1400 */
@media (min-width: 1200px) and (max-width: 1400px)
{
  .container-header-reseaux{
    width:98%;
  }}
  @media (min-width: 1200px) and (max-width: 1550px)
  {
    .container-header-reseaux{
      width:98%;
    }
    .titre_header {
      font-size: 6.5rem;
    }
  }

