

header{
    min-height: 50vh;
      background-image: url(../media/workplace-2303853_1920.jpg); 
      background-size: cover;
      background-position: center;
}


/* start page article */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  h2{
    padding-top: 70px;
    font-family: 'Candal';
    font-size: 3rem;
  }
  
  .flip-card-front {
    /* background-image:url(../media/three_js.jpg); */
    background-size:cover;
    color: black;
  }


a {

  padding: 106px;
  color: #ca9b52;
}
a:hover{
  color: #8f8f8f;
}
  .flip-card-back {
   
    color: black;
    transform: rotateY(180deg);
  }

/* end page article */