@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.min-h-20vh {
  min-height: 20vh;
}

.logo {
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  min-height: 25vh;
  background-position-x: center;
}

.social {
  list-style: none;
  color: #8f8f8f;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
}

li {
  padding: 5px;
}

header {
  min-height: 65vh;
  background-image: url(../assets/header-blog.jpg);
  background-size: cover;
  background-position: center;
}

.titre_header {
  font-size: 8.5rem;
  padding-top: 165px;
  font-family: 'Pacifico';
  text-shadow: 2px 2px #000000;

}

/* end header  */

/* start menu */
button:focus{
  outline: none;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

#menu-menu-principal{
  list-style-type: none;
  padding-left:0;
  display: flex;
  justify-content:space-between;
}
.navbar-light .navbar-nav .nav-link {
  text-decoration:none;
  text-align: center;
  color: #ca9b52;
  font-family: 'Satisfy' !important;
  font-size: 1.2rem;
}


.navbar-light .navbar-nav .nav-link:hover{
  color: #8f8f8f;
}
/* end menu */

.logo {
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  height: 20vh;
  background-position-x: center;

}

/* start page article */
.lastarticles {
  padding-right: 0;
  padding-left: 0;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

h2 {
  padding-top: 80px;
  font-family: 'Indie Flower';
  font-size: 3rem;
  color: rgba(134, 114, 114, 0.87) !important;
}

.flip-card-front {
  /* background-image:url(../media/three_js.jpg); */
  background-size: cover;
  color: black;
}

.flip-card-back {

  color: black;
  transform: rotateY(180deg);
}

.first-letter {
  font-size: 30px;
  font-weight: bold;
}

/* end partie article */

/* start partie projets */
.div-hover-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.left-projet{
  height: 633px;
 background-image: url(../assets/burger-blog.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.left-projet:hover .image {
  opacity: 0.3;
}

.left-projet:hover .div-hover-text {
  opacity: 1;
}

/***************section projets*********************/
.titre-projet {
  font-size: 4rem;
  color: #8f8f8f;
  font-family: 'Indie Flower';
}
.section-projet{
  min-height:100vh ;
 
}

.right-up {
  height: 300px;
  background-image: url(../assets/automotive-blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 33px;
}

.right-up:hover .image {
  opacity: 0.3;
}

.right-up:hover .div-hover-text {
  opacity: 1;
}

.right-down {
  height: 300px;
  background-image: url(../assets/cine-blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-down:hover .image {
  opacity: 0.3;
}

.right-down:hover .div-hover-text {
  opacity: 1;
}

.text-hover {

  font-size: 3rem;
  padding: 16px 32px;
  font-family: 'Indie Flower' ;
  color:rgba(134, 114, 114, 0.87) !important;
}

/***********footer************/
.bg-footer{
 background-color: #eee3d338; 
}
.title-footer{
color:  #8f8f8f;
font-family: 'Indie Flower' !important;
font-size: 1rem;
}



.lettrine {
  font-size:3.5em;
  padding-right:0.2em;
  float:left;
  color:red;
}

